<%- include("partials/header"); %>

<h1>About</h1>
<p>My name is Alexander Zsikla and I am a sophomore student athlete at
 Tufts University. For more information about me, feel free to check out my
 <a href="https://www.linkedin.com/in/alexander-zsikla">LinkedIn</a></p>

<h4>The Blog</h4>
<p>This project uses EJS, NodeJS, express, and a couple of both external
 and internal NodeJS modules.</p>

<%- include("partials/footer"); %>
