<%- include("partials/header"); %>

<h1>About</h1>
<p>My name is Alexander Zsikla and I am a sophomore student
<a href="https://www.gotuftsjumbos.com/sports/mtrack/2019-20/bios/zsikla_alexander_m79l?view=bio">athlete</a>
   at Tufts University. For more information about me, feel free to check out my
 <a href="https://www.linkedin.com/in/alexander-zsikla">LinkedIn</a></p>

<br>
<h4>The Blog</h4>
<p>This project uses EJS, Express.JS, and some Node.JS external modules.
   The database is implemented using MongoDB and Mongoose as the ODM</p>

<%- include("partials/footer"); %>
