<%- include("partials/header"); %>

<h1>Contact</h1>
<p>This is suppose to represent a simple contact page, but the purpose of
 this fake blog is to learn more about EJS, so I have not implemented this
 funcionality. However, if you would like to contact me, feel free to
 <a href="mailto:aleandor00@gmail.com">email</a> me. </p>

<%- include("partials/footer"); %>
